[submodule "src/themes/hello-friend-ng"]
	path = src/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "hugo/themes/mateusfccp.me"]
	path = hugo/themes/mateusfccp.me
	url = https://github.com/mateusfccp/mateusfccp.me-hugo.git
[submodule "themes/mateusfccp.me"]
	path = themes/mateusfccp.me
	url = https://github.com/mateusfccp/mateusfccp.me-hugo/
